.header-section {
  display: flex;
}

.header-section a {
  text-decoration: none;
  color: black;
}
#logo-text {
  margin-left: 70px;
  font-size: 50px;
  width: 500px;
  margin-top: 55px;
}


#navbar-links {
  display: flex;
}

#navbar-links li {
  list-style: none;
  margin-top: 38px;
  margin-left: 60px;
  font-size: 50px;
  text-decoration: none;

}

#about-me-navlink {
  width: 200px;
}

#contact-info-navlink {
  width: 310px;
  margin-right: 70px;
}

.hero-image-section {
  display: flex;
}
.hero-image-section img{
  width: 55vh;
  height: 55vh;
  margin-left: 170px;
  margin-top: 40px;
}
#hero-image-heading {
  margin-left: 170px;
  margin-top: 120px;
  margin-bottom: 2px;
  font-size: 60px;
}
#hero-image-subheading {
  margin-left: 170px;
  margin-top: 12px;
  font-size: 40px;
}

.about-me-section {
  margin-top: 120px;
}
#about-me-heading {
  margin-left: 70px;
  margin-top: 120px;
  margin-bottom: 50px;
  font-size: 80px;
}

#about-me-content {
  margin-left: 150px;
  margin-top: 80px;
  line-height: 70px;
  font-size: 50px;
}